.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  background-color: #f4f4f9;
}

.game-title {
  color: #333;
  margin: 20px;
  font-size: 2rem;
}

.error {
  color: #cc0000;
}

.game-button {
  width: 50%;
  padding: 12px;
  margin: 10px 0;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
  color: white;
  background-color: #5c67f2;
  border: none;
  border-radius: 15px;
}

.game-button:hover {
  background-color: #4a54e1;
}
